<a href="/user/profile">
	<div class="profile-container">
		<img class="user-icon-profile" src="/img/profile_male.png">
	</div>
</a>
<style>
	.profile-container {
		z-index: 10;
		position: fixed;
		top: 5px;
		right: 5px;
		width: 50px;
		height: 50px;
	}

	.user-icon-profile {
		filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.469));
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	
</style>
<script>
	var ProfileContainer = document.querySelector('.profile-container')
	var UserIconProfile = document.querySelector('.user-icon-profile')
	
	fetch('/user/profile/api?cookie='+encodeURIComponent(document.cookie)).then((UserRaw) => {
		UserRaw.json().then(user => {
			if (!user.error) {
				if (user.user.gender == 'female') {
					//ProfileContainer.innerHTML = `<img class="user-icon-profile" src="/img/profile_female.png">`
					UserIconProfile.src = '/img/profile_female.png'
				}
			}
		})
	})

</script>