	<title> Bratil - Página restrita!</title>
	<style>
		@font-face {
	    font-family: 'main-font';
	    src: url('/css/fonts/Poppins-Light.ttf');
	  }
		* {
			margin: 0px;
			padding: 0px;
		}
		
		body {
			font-family: 'main-font';
			color: white;
			background: rgb(32,33,37);
		}
		
		.fa-lock {
			color: red;
			font-size: 70pt;
			margin-top: 50px;
			margin-bottom: 50px;
		}
		
	</style>
</head>
<body>
	{{>user/_profile}}
	<div class="container text-center">
		<i class="fas fa-lock"></i>
		<h1>Página restrita!</h1>
		<p id="ContentText">A página que você acessou tem uma restrição. Para acessá-la você precisa ser:</p>
	</div>
	<script>
	var ContentText = document.getElementById('ContentText')
	var code = '{{code}}'
	code = code.split(',')
	
	if (code.length == 1) {
		void async function() {
			let DataBranch = await fetch('/admin/branch/{{code}}/api')
			DataBranch = await DataBranch.json()
			
			ContentText.innerText += ' '+DataBranch.name+'.'
		}()
	} else {
		{{#each code}}
			void async function() {
				 let DataBranch = await fetch('/admin/branch/{{this}}/api')
				 DataBranch = await DataBranch.json()
				 if ({{this}} == code[code.length-1]) {
					ContentText.innerText += ' ou '+DataBranch.name+'.'
				} else {
					ContentText.innerText += ' '+DataBranch.name+','
				}
			}()
		{{/each}}
	}
	</script>
</body>