{{>_alert}}
<div class="targetFooter">
	<div class="container dropUp">
		<div class="ArrowContainer">
			<!--<i class="fas btndropUp fa-angle-up" id="ArrowToTop"></i>-->
			<i class="bi btndropUp bi-caret-up"></i>
		</div>
	</div>
</div>
<div class="containerFooter">
	<footer>
		<div class="FooterBody">
			<h1 class="text-center mb-4">Rodapé</h1>
			<hr />
			<a href="/" style="display: flex; justify-content:center;">
				<img style="height:130px;" src="/img/logo.png" />
			</a>
			<small>
				<div class="card">
					<div class="card-body">
						Criado por: <a href="https://github.com/Theryston">Theryston</a>
						<hr />
						instagram: <a href="link_para_o_instagram">@Mycroway</a>
						<hr />
						E-mail: <a href="mailto:email_aqui">contato@Mycroway.com</a>
						<hr />
						Twitter: <a href="link_para_o_twitter">@Mycroway</a>
						<hr />
						<a href="link_para_o_whatsapp">Whatsapp</a>
					</div>
				</div>
			</small>
		</div>
	</footer>
</div>
<style>

	footer {
		background: rgb(32, 33, 37);
		height: 99%;
		width: 100%;
		position: absolute;
		left: 0vw;
		bottom: 0px;
		box-shadow: 0px -1vh 0px rgb(0, 140, 255);
	}

	.FooterBody {
		margin-left: 10px;
		margin-right: 10px;
	}

	hr {
		background: white;
	}

	.containerFooter {
		z-index: 11;
		transition: all 1s;
		position: fixed;
		top: 2000px;
		height: 100vh;
		width: 100vw;
	}

	.dropUp {
		color: rgb(0, 140, 255);
		position: absolute;
		height: 50px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	.ArrowContainer {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.btndropUp {
		font-size: 30pt;
	}

</style>
<script>
	const btndropUp = document.querySelector('.btndropUp')
	const dropUp = document.querySelector('.dropUp')
	const ArrowContainer = document.querySelector('.ArrowContainer')
	const containerFooter = document.querySelector('.containerFooter')
	const footer = document.querySelector('footer')
	var FooterIsOpen = false

	dropUp.addEventListener('touchmove', (event) => {
		targetFooter(event)
	})

	dropUp.addEventListener('mouseover', (event) => {
		targetFooter(event)
	})

	footer.addEventListener('click', (event) => {
		CloseFooter(event)
	})

	function targetFooter(event) {
		if (!FooterIsOpen) {
			FooterIsOpen = true

			var TutorialFooterClose = localStorage.getItem('TutorialFooterClose')
			containerFooter.style.top = '0px'

			if (TutorialFooterClose == null) {
				setTimeout(() => {
					MycrowayAlert({
						title: 'tutorial:',
						body: `Você acabou de abrir o nosso rodapé! Para fechar, basta clicar em qualquer lugar vazio da tela (após ter clicado no botão abaixo) que ele irá sumir.`,
						button: 'Obrigado pela dica!'
					})


					localStorage.setItem('TutorialFooterClose', true)

				},
					1200)
			}
		}
	}

	function CloseFooter(event) {
		if (FooterIsOpen) {
			FooterIsOpen = false
			containerFooter.style.top = '100vh'
		}
	}

</script>