<hr style="margin-top:100px; background:white; width:100vw;">
<footer style="display:flex; justify-content:center;" class="mb-2">
  <small style="text-align:center;">
    <a href="/">
   <img width="100vw" src="/img/icon.svg" alt="icone do Bait"></a><br>
    Bait Company &copy; <br>
  Este site foi criado pelo Web developer <a href="https://github.com/Theryston">Theryston</a></small>
</footer>