<!--<div class="containerFooter">
	<hr>
	<p style="font-size:9pt;" class="text-center container">
		Este site é o resultado de anos de trabalho e dedicação do Sr. Theryston Santos (fundador da Mycroway).
	</p>
</div>-->