<hr style="background:white; width:100vw;">
<footer style="display:flex; justify-content:center;">
  <small style="text-align:center;">
    <a href="/">
   <img width="100vw" src="/img/icon.svg" alt="icone do Bratil"></a><br>
    Bratil Company &copy; <br>
  Este site foi criado pelo Web developer <a href="https://github.com/Theryston">Theryston</a></small>
</footer>
<script src="/js/search.js"></script>