<div class="_msg_container">
	<p></p>
</div>

<style>
	._msg_container {
		position: fixed;
		bottom: -100px;
		background: #38383c;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.499);
		width: 100%;
		/*margin-left: 1%;
		/*border-radius: 0.2rem;
		min-height: 50px;*/
		font-size: 0.9em;
		padding: 15px;
		transition: all 0.5s;
	}

	._msg_container p {
		margin: 0;
		padding: 0;
	}

</style>

<script>
	async	function _msg(text, success) {

		var _msg_container = document.querySelector('._msg_container')
		var _msg_container_p = _msg_container.querySelector('p')


		_msg_container_p.innerText = text


		_msg_container.style.bottom = '0px'

		setTimeout(() => {
			_msg_container.style.bottom = '-100px'
		}, 2000)

		return true

	}


</script>