<div class="MycrowayNavbar" style="width:100vw; height:50px; background: rgb(0, 140, 255);">
	<h1 class="text-left" style="position:relative; top:50%; transform:translateY(-50%); margin-left:10px; font-family:'font-medium'; font-size:12pt;">
		<a href="/">
			<img style="filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.469));" src="/img/logo.png" width="50px">	Mycroway
		</a>
	</h1>
	<div style="background:white; width:1.5px; height:50px; position:absolute; top:0px; left:175px;"></div>

	<div style="color:white;" class="PagesDrop">
		...
	</div>

	<div style="font-family:'font-medium'; font-size:11pt; float:right; margin-top:-58.5px; margin-right:0px;">
		{{>user/_profile}}
	</div>
</div>
<div class="PagesOnNavbar">
	<ul class="PagesOnNavbarList" style="list-style:none;">
		<div>
			<a href="/search">
				<li>Search</li>
				<p>
					Motor de buscas
				</p>
			</a>
		</div>
		<div>
			<a href="/mai">
				<li>M.A.I.</li>
				<p>
					Sua assistente virtual
				</p>
			</a>
		</div>
	</ul>
</div>
<style>
	.MycrowayNavbar  a:visited {
		color: white;
	}

	.profile-container {
		position: relative;
	}

	.user-icon-profile-in-navbar {
		filter: drop-shadow(0px 0px 0px);
	}

	.PagesDrop {
		position: absolute;
		left: 195px;
		top: -16px;
		height: 100%;
		font-size: 30pt;
	}

	.PagesOnNavbar {
		width: 240px;
		background: white;
		border-radius: 0.2rem;
		min-height: 100px;
		padding: 12px;
		color: #333;
		margin-left: 163px;
		margin-top: 5px;
		position: absolute;
		z-index: 10;
		box-shadow: 0px 0px 15px black;
		font-family: 'font-regular';
		display: none;
		font-size: 11pt;
	}

	.PagesOnNavbar a:visited {
		color: #333;
	}

	.PagesOnNavbar a:link {
		color: #333;
	}

	/*.PagesOnNavbar:before {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		left: 33px;
		top: -10px;
		background: white;
		transform: rotate(45deg);
	}*/

	.PagesOnNavbarList li {
		font-family: 'font-medium';
		position: absolute;
		top: 0;
		transform: translateY(-50%);
		background: white;
		padding: 2px;
	}

	.PagesOnNavbarList div {
		position: relative;
		margin-bottom: 20px;
		padding: 10px;
		border: 1px solid #444;
		border-radius: 0.2rem;
	}

	.PagesOnNavbarList p {
		margin: 0px;
		margin-left: 10px;
	}

</style>
<script>
	void async function() {
		var PagesOnNavbar = document.querySelector('.PagesOnNavbar')
		var PagesDrop = document.querySelector('.PagesDrop')
		var PagesOnNavbarList = document.querySelector('.PagesOnNavbarList')
		var PagesOnNavbarListDiv = PagesOnNavbarList.getElementsByTagName('div')
		var URL = document.URL
		var URLC = URL.replace('http://', '').replace('https://', '')
		var router = URLC.replace(URLC.substring(0, URLC.indexOf('/')), '')

		var UserRaw = await	fetch('/user/profile/api?cookie='+encodeURIComponent(document.cookie))

		var login = await UserRaw.json()

		if (!login.error) {
			if (login.user.branch != 0) {
				var BarnchApi = await fetch('/admin/branch/'+login.user.branch+'/api')

				var { router: RouterAdmin } = await BarnchApi.json()

				PagesOnNavbarList.innerHTML += `<div>
				<a href="${RouterAdmin}">
				<li>Administração</li>
				<p>Seção de Administração</p>
				</a>
				</div>
				`
			}
		}


		PagesDrop.addEventListener('click', () => {
			setTimeout(() => {
				PagesOnNavbar.style.display = 'block'
			},
				1)
		})

		window.addEventListener('click', () => {
			if (PagesOnNavbar.style.display == 'block') {
				PagesOnNavbar.style.display = 'none'
			}
		})


		var lis = PagesOnNavbar.getElementsByTagName('li')
		for (let i = 0; i < lis.length; i++) {
			if (URL.indexOf(PagesOnNavbarListDiv[i].getElementsByTagName('a')[0].href) != -1) {
				PagesOnNavbarListDiv[i].style.borderColor = "rgb(0,140,255)"
				lis[i].style.color = 'rgb(0,140,255)'
			}
		}
	}()
</script>