
  <style>
@font-face {
    font-family: 'main-font';
    src: url('/css/fonts/Poppins-Light.ttf');
  }
    body {
      background: rgb(32,33,37);
      color: white;
      font-size: 15px;
      text-align: left;
      font-family: 'main-font';
    }
    
    .m {
      position: absolute;
      top: 40%;
      margin-bottom: 70px;
    }
    
    .button {
      width: 80%;
      height: 50px;
      margin-right: 20px;
    }
    
    .fa-arrow-circle-left {
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translate(-8%, -50%);
      font-size: 30px;
      color: white;
    }
    #buttons {
      display: flex;
    }
    @media screen and (max-device-width: 900px) {
      .m {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
      margin-bottom: 70px;
    }
  </style>
  <title>autores</title>
</head>
<body>
  <h1 class="mt-4 text-center">autores</h1>
  <div class="mt-4 container">
    As autores (respostas automáticas) são respostas baseadas nos textos em que você copia em qualquer lugar. exemplo imagine que você está acessando determinado site e lá você copia o texto "pássaros verdes" então quando você entrar no Bait e clicar no microfone aparecerá na janela de mensagem mas ficação do que é um "pássaro".
    é de extrema importância também lembrar que esta função deve ser ativa. para quê o Bait faça isso todas as vezes, basta clicar no botão ativar e caso você não queira e já tenha ativado clique no botão desativar.
    
   <div id="buttons">
         <button class="mt-4 ml-4 mr-4 mb-4 button btn btn-primary">ativar!</button>
         <button class="mt-4 ml-4 mr-4 mb-4 button btn btn-primary">desativar!</button>
  </div>
    
    caso você ative quando você clicar no pela primeira vez microfone o site vai pedir uma permissão aos textos que você copie basta clicar em "permitir".
 </div>

</body>