  <link rel="stylesheet" href="/css/style.css" />
  <title>BAIT - inteligência artificial brasileira</title>
</head>
<body>
  <div class="credito-box">
    <img src="img/txt-pixabay.png" class="creditos">
  </div>

  <section>

    <audio src="/media/alert.mp3" class="alert"></audio>

    <div class="BaitMessage">
      <div class="BaitMedia">
        <div class="logo"></div>
      </div>
      <div class="text">
        carregando...
      </div>
      <div class="ClientHistoric">
      </div>
    </div>
  </section>

  <footer>
    <div class="microphone">
      <img id="microphone-home" src="/img/microphone.svg" />
    </div>
  </footer>


  <script src="/js/main.js"></script>
</body>
