  <link rel="stylesheet" href="/css/style.css" />
  <title>Inteligência artificial da Mycroway</title>
</head>
<body>
	{{>user/_profile}}
  <div class="credito-box">
    <img src="img/txt-pixabay.png" class="creditos">
  </div>

  <section>
    <audio src="/media/alert.mp3" class="alert"></audio>

    <div class="MycrowayMessage">
      <div class="MycrowayMedia">
        <div class="logo"></div>
      </div>
      <div class="text">
        <div class="spinner-grow bg-primary"></div><br>
      </div>
    </div>
  </section>

  <footer>
  	<label for="switch">
  		<div class="microphone">
	    	<div class="switch-container">
					<input id="switch" type="checkbox">
				</div>
      <!--<img id="microphone-home" src="/img/microphone.svg" />-->
    	</div>
  	</label>
  </footer>


  <script src="/js/main.js"></script>

</body>
