
  <style>
@font-face {
    font-family: 'main-font';
    src: url('/css/fonts/Poppins-Light.ttf');
  }
    body {
      background: rgb(32,33,37);
      color: white;
      font-size: 15px;
      text-align: center;
      font-family: 'main-font';
    }
    .m {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
      margin-bottom: 100px;
    }
    .no-rota-logo {
      width: 50vw;
      margin-bottom: 20px;
    }
    
    @media screen and (max-device-width: 900px) {
      .no-rota-logo {
        width: 100vw;
        margin-bottom: 70px;
      }
    }
  </style>
  <title>Bait Company - esta página não encontrada!</title>
</head>
<body>
  <div class="m">
  <a href="/"><img class="no-rota-logo" src="/img/logo-no-rota.svg" alt="logo no-rota"></a><br>
    Lamento informar que esta página não foi encontrada! Você acessou uma página inexistente no site "<a href="/">Bait Company</a>".
    </div>
</body>