<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PH9K617WNF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-PH9K617WNF');
  </script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style>
@font-face {
    font-family: 'main-font';
    src: url('/assets/style/fonts/Poppins-Light.ttf');
  }
    body {
      background: rgb(32,33,37);
      color: white;
      font-size: 30px;
      text-align: center;
      font-family: 'main-font';
    }
    .m {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
    }
    .IrParaHome {
      padding-bottom: 10px;
      padding-top: 10px;
      color: white;
      font-family: 'main-font';
      border-radius: 30px;
      background: #202125;
      box-shadow: 2px 2px 6px black;
      border: 0px;
      position: fixed;
      width: 500px;
      height: 100px;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -80%);
      font-size: 30px;
    }
  </style>
  <title>essa página não existe!</title>
  <link rel="icon" href="assets/img/icon.png" type="image/png" />
</head>
<body>
  <div class="m">
    lamento informar; esta página não foi encontrada (provavelmente esta página que você acessou não existe).
  </div>


  <input type="button" value="ir para página inicial!" class="IrParaHome" onclick="IrParaHome()" />
  <script>
    function IrParaHome() {
      window.location = '/'
    }
  </script>
</body>
</html>