
  <title>BAIT search - seje mais inteligente com pesquisas!</title>
  <link rel="stylesheet" href="/css/search-style.css" type="text/css" media="all" />
</head>

<body>
  <header id="header">
    <div id="container-background-serach">
      <img src="/img/background-search-1500.png" alt="" id="background-serach">
      <div id="background-pelicula"></div>
    </div>
    <div id="title">
      <label for="text-search">
        <h1>Bait&nbsp;search</h1>
        <p>seje&nbsp;mais&nbsp;inteligente&nbsp;com&nbsp;pesquisas</p>
      </label>
    </div>
  </header>
  <div id="container-search">
   <form action="/">
      <input type="text" id="text-search" placeholder="faça sua pesquisa!" />
      <button id="button_sub" type="submit"><li class="fas fa-search" ></li></button>
   </form>
  </div>
  <section id="section">
  </section>
  <script src="/js/search.js"></script>
</body>