<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q625Q1PGW6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-Q625Q1PGW6');
  </script>
  <script src="https://kit.fontawesome.com/8f2c15ea36.js" crossorigin="anonymous"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initeal-scale=1.0">
  <title>BAIT search - faça sua pesquisa!</title>
  <link rel="stylesheet" href="assets/style/search-style.css" type="text/css" media="all" />
  <link rel="shortcut icon" href="/assets/img/icon.png">
  <script src="https://kit.fontawesome.com/8f2c15ea36.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <div id="container-background-serach">
      <img src="assets/img/background-search.jpg" alt="" id="background-serach">
      <div id="background-pelicula"></div>
    </div>
    <div id="title">
      <h1>Bait&nbsp;search</h1>
      <br />
      <p>seje&nbsp;mais&nbsp;inteligente&nbsp;pesquisando!</p>
    </div>
  </header>
</body>

</html>