
  <style>
@font-face {
    font-family: 'main-font';
    src: url('/css/fonts/Poppins-Light.ttf');
  }
  * {
    margin: 0px;
    padding: 0px;
  }
    body {
      background: rgb(32,33,37);
      color: white;
      font-size: 15px;
      text-align: center;
      font-family: 'main-font';
    }
    .IrParaHome {
      padding-bottom: 10px;
      padding-top: 10px;
      color: white;
      text-shadow: 0px 0px 0px black;
      font-family: 'main-font';
      border-radius: 10px;
      background: rgb(0, 140, 255);
      box-shadow: 2px 2px 6px black;
      border: 0px;
      width: 250px;
      height: 50px;
      font-size: 15px;
    }
    .IrParaHome:focus {
      outline: none;
    }
  </style>
  <title>Bait Company - termos de uso</title>
</head>
<body>
  <div class="container">
    <h1 style="margin-bottom:100px;margin-top:70px;" class="text-center">termos de uso do <a href="/"> Bait Company</a><span style="font-size:25px;">&copy;</span></h1>
    
    <div class="mt-4" style="text-align:left;">
      	os termos irão aqui!!!
    </div>
  </div>

<form style="margin-top: 100px;"  action="/user/create" method="post">
  <input id="box-read" type="checkbox" style="margin-bottom:30px;" required> <label for="box-read">eu li e concordo com os termos</label><br>
    <button type="submit" class="mb-4 IrParaHome">Continuar</button>
</form>

</body>