<!DOCTYPE html>
<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q625Q1PGW6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-Q625Q1PGW6');
  </script>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style>
@font-face {
    font-family: 'main-font';
    src: url('/assets/style/fonts/Poppins-Light.ttf');
  }
    body {
      background: rgb(32,33,37);
      color: white;
      font-size: 30px;
      text-align: center;
      font-family: 'main-font';
    }
    .m {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
    }
    .IrParaHome {
      padding-bottom: 10px;
      padding-top: 10px;
      color: white;
      font-family: 'main-font';
      border-radius: 30px;
      background: #202125;
      box-shadow: 2px 2px 6px black;
      border: 0px;
      position: fixed;
      width: 500px;
      height: 100px;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -80%);
      font-size: 30px;
    }
  </style>
  <title>termos</title>
  <link rel="icon" href="assets/img/icon.png" type="image/png" />
</head>
<body>
  <div class="m">
    nós pedimos alguns acessos ao seu aparelho e alguns dados seus; porém, a segurança que você tem é que nenhum dos seus dados fornecidos, chegam até o nosso banco de dados; todos ficam disponíveis apenas temporariamente (após você recarregar a página todos os dados são deletados) por isso é até aconselhável você recarregar a página menor número de vezes possível; para evitar ter que estar adicionando os seus dados de novo
    (como se estivesse entrado no site pela primeira vez).
  </div>


  <input type="button" value="voltar" class="IrParaHome" onclick="IrParaHome()" />
  <script>
    function IrParaHome() {
      window.close();
    };
  </script>
</body>
</html>