<!DOCTYPE html>
<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q625Q1PGW6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-Q625Q1PGW6');
  </script>

  <script src="https://kit.fontawesome.com/8f2c15ea36.js" crossorigin="anonymous"></script>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initeal-scale=1.0">
  <style>
@font-face {
    font-family: 'main-font';
    src: url('/assets/style/fonts/Poppins-Light.ttf');
  }
    body {
      background: rgb(32,33,37);
      color: white;
      font-size: 15px;
      text-align: center;
      font-family: 'main-font';
    }
    .m {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
    }
    #IrParaHome {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-bottom: 10px;
      padding-top: 10px;
      color: white;
      background: #202125;
      font-family: 'main-font';
      border: 0px;
      font-size: 15px;
    }
    .fa-arrow-circle-left {
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translate(-8%, -50%);
      font-size: 30px;
      color: white;
    }
    .IrParaHome {
      border-radius: 30px;
      box-shadow: 2px 2px 6px black;
      background: #202125;
      width: 250px;
      height: 50px;
      position: fixed;
      left: 50%;
      top: 90%;
      transform: translate(-50%, -80%);
    }
    .IrParaHome:focus {
      background: #202130;
      outline: none;
    }
    #IrParaHome:focus {
      outline: none;
    }
  </style>
  <title>termos</title>
  <link rel="icon" href="assets/img/icon.png" type="image/png" />
</head>
<body>
  <div class="m">
    nós pedimos alguns acessos ao seu aparelho e alguns dados seus; porém, a segurança que você tem é que nenhum dos seus dados fornecidos, chegam até o nosso banco de dados; todos ficam disponíveis apenas temporariamente (após você recarregar a página todos os dados são deletados) por isso é até aconselhável você recarregar a página menor número de vezes possível; para evitar ter que estar adicionando os seus dados de novo
    (como se estivesse entrado no site pela primeira vez).
  </div>

  <div onclick="IrParaHome()" class="IrParaHome">
    <i class="fas fa-arrow-circle-left"></i>
    <input type="button" value="voltar" id="IrParaHome" />
  </div>



  <script>
    function IrParaHome() {
      window.close();
    };
  </script>
</body>
</html>