<style>
  #container-search {
    display: flex;
    z-index: 4;
    width: 80vw;
    height: 3.5em;
    background: black;
    border-radius: 5em;
    transition: all 0.6s;
  }
  
  #text-search {
    color: white;
    position: absolute;
    top: 50%;
    left: 10%;
    height: 90%;
    width: 75%;
    transform: translateY(-50%);
    border: 0px;
    background: black;
    font-size: 1em;
  }
  
  #text-search::-webkit-search-cancel-button {
  	display: none;
  }
  
  .content-card {
    position: absolute;
    left: 50%;
  }
  
  #button_sub {
    color: rgb(0, 140, 255);
    background: rgba(0, 0, 0, 0);
    border: 0px;
    position: absolute;
    right: 5%;
    font-size: 1.8em;
  }
  
  #cleanInputSearch {
  	background: rgba(0,0,0,0);
  	border: 0px;
  	color: red;
  	position: absolute;
  	top: 40%;
  	left: 3%;
  	transform: translateY(-40%);
  	display: none;
  }
  
  #cleanInputSearch:focus {
  	outline: none;
  }
  
  #button_sub:focus {
    outline: none;
  }
  
  #text-search:focus {
    outline: none;
  }
</style>
<div id="container-search">
  <form onsubmit="FormSent(event)" id="searchForm" action="/search/response/page" method="get">
  	<button type="reset" id="cleanInputSearch"><i class="bi bi-x-circle"></i></button>
    <input autocomplete="off" type="search" id="text-search" placeholder="faça sua pesquisa!" name="question" required />
    <button id="button_sub" type="submit"><i class="bi bi-search"></i></button>
  </form>
</div>
<script>
	var cleanInputSearch =	document.querySelector('#cleanInputSearch');
	var inputSearch =	document.querySelector('#text-search');
	
	setInterval(() => {
		if (inputSearch.value.length > 0) {
			cleanInputSearch.style.display = 'block'
		} else {
			cleanInputSearch.style.display = 'none'
		}
	},0)

</script>