<style>
  #container-search {
    display: flex;
    z-index: 4;
    width: 80vw;
    height: 3.5em;
    background: black;
    border-radius: 5em;
    transition: all 0.6s;
  }
  
  #text-search {
    color: white;
    position: absolute;
    top: 50%;
    left: 6%;
    height: 90%;
    width: 80%;
    transform: translateY(-50%);
    border: 0px;
    background: black;
    font-size: 1em;
  }
  
  .content-card {
    position: absolute;
    left: 50%;
  }
  
  #button_sub {
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.8em;
  }
  
  #button_sub:focus {
    outline: none;
  }
  
  #text-search:focus {
    outline: none;
  }
</style>
<div id="container-search">
  <form action="/search/response/page" method="get">
    <input type="text" id="text-search" placeholder="faça sua pesquisa!" name="question" required />
    <button id="button_sub" type="submit"><li class="fas fa-search" ></li></button>
  </form>
</div>