	<title>Crie uma conta na Mycroway</title>
	<style>
		@font-face {
	    font-family: 'main-font';
	    src: url('/css/fonts/Poppins-Light.ttf');
	  }
	  
		body {
			font-family: 'main-font';
			background: rgb(32,33,37);
			color: white;
		}
		
		.container-form {
			border: 1px rgb(0, 140, 255) solid;
			padding: 20px;
			border-radius: 20px;
		}
		
		.container {
			margin-top: 50px;
		}
		
		h1 {
			font-size: 25pt;
		}
		
		.form-control {
			box-shadow: 2px 2px 6px black;
			border-radius: 8px;
			border: none;
			outline: none;
			color: #333;
		}
		
		.password {
			width: 100%;
			font-size: 15pt;
			position: relative;
		}
		
		.eye {
			font-size: 1.1rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: #eee;
			right: 10px;
		}
		
		
	</style>
</head>
<body>
{{>_alert}}
{{#if error_msg}}
<script>
	MycrowayAlert({
		title: 'erro:',
		body: `{{error_msg}}`,
		button: 'OK, não tem problema!'
	})
</script>
{{/if}}
	<div class="container">
		<h1>Criar conta</h1>
		<br>
		<div>
			<form method="post" action="/user/create">
				<input type="hidden" id="redirect" name="redirect">
				<div class="MycrowayInput">
					<input autocomplete="off" id="name" type="text" name="name" required>
					<p>Nome</p>
				</div><br>
				<div class="MycrowayInput">
					<input autocomplete="off" id="email" name="email" type="email" required>
					<p>E-mail</p>
				</div><br>
				<div class="MycrowayInput">
					<input autocomplete="off" id="password" type="password" name="password" required>
					<p>Senha</p>
					<div class="EyeContainer">
						<i onclick="EyeFunc()" class="far eye fa-eye"></i>
					</div>
				</div><br>
				<select name="gender" class="MycrowaySelect">
					<option value="male">masculino</option>
					<option value="female">feminino</option>
				</select>
				<br>
				<button type="submit" class="MycrowayButton mt-5">Criar conta</button>
			</form>
			<hr class="mt-5">
			<a href="/user/login"><button type="button" class="mt-5 MycrowayButton">Já tenho uma conta, fazer login!</button></a>
		</div>
	</div>
	<script>
		const eye = document.querySelector('.eye')
		const EyeContainer = document.querySelector('.EyeContainer')
		const password = document.querySelector('#password')
		const redirect = document.querySelector('#redirect')
		var PasswordVisible = false
		var URL = document.URL
		var URLC = URL.replace('http://', '').replace('https://', '')
		var router = URLC.replace(URLC.substring(0,URLC.indexOf('/')), '')
		
		
		if (router == '/user/login') {
			router = false
		}
		
		redirect.value = router;
		
		function EyeFunc() {
			eye.innerHTML = ``
			
			if (!PasswordVisible) {
				EyeContainer.innerHTML = `<i onclick="EyeFunc()" class="far eye fa-eye-slash"></i>`
				password.type = 'text'
				PasswordVisible = true
			} else {
				EyeContainer.innerHTML = `<i onclick="EyeFunc()" class="far eye fa-eye"></i>`
				password.type = 'password'
				PasswordVisible = false
			}
			
			console.log(eye.classList.contains('fa-eye'))
		}
		
	</script>
</body>