	<title> Bratil - esqueci minha senha!!</title>
	<style>
		@font-face {
	    font-family: 'main-font';
	    src: url('/css/fonts/Poppins-Light.ttf');
	  }
		* {
			margin: 0px;
			padding: 0px;
		}
		
		body {
			font-family: 'main-font';
			color: white;
			background: rgb(32,33,37);
		}
		
		.fa-check-circle {
			color: rgb(0,170,255);
			font-size: 70pt;
			margin-top: 50px;
			margin-bottom: 50px;
		}
		
		hr{
			background: white;
		}
		
	</style>
</head>
<body>
	{{>user/_profile}}
	{{>_alert}}
	{{#if error_msg}}
<script>
	BratilAlert({
		title: 'erro:',
		body: `{{error_msg}}`,
		button: 'OK, não tem problema!'
	})
</script>
{{/if}}
	<div class="container text-center mb-5">
		<i class="fas fa-check-circle"></i>
		<h1>2ª passo</h1>
		<p>Nós enviámos um e-mail para {{email}} com um token. Dígite o token abaixo.</p>
		</div>
		<div class="container">
			<hr>
		</div>
		<div class="container mt-5">
		<form action="/user/reset" method="post">
			<label for="token">Token:</label>
			<input type="text" autocomplete="off" class="form-control" id="token" name="token" placeholder="digite aqui o token que te enviamos!">
			<input type="hidden" value="{{EmailUser}}" name="email">
			<button type="submit" class="BratilButton mt-4">Próximo passo</button>
		</form>
	</div>
</body>