<title>Bratil - faça seu login</title>
<style>
@font-face {
    font-family: 'main-font';
    src: url('/css/fonts/Poppins-Light.ttf');
  }
  
  *{
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: 'main-font';
    color: white;
    background: rgb(32, 33, 37);
  }
  .container {
  	width: 95%;
    box-shadow: 2px 2px 15px black;
    padding: 10px 10px 40px 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .eye {
    position: relative;
    top: 25%;
    margin-left: 5px;
  }
  .senha {
    display: flex;
  }
  @media screen and (max-device-width: 900px) {
  	.container {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 95%;
  	transform: translate(-50%, -50%);
    box-shadow: 2px 2px 15px black;
    padding: 10px 10px 40px 10px;
    margin: 0px;
  }
  }
</style>
</head>
<body>
  <div class="container">
      	<h5 class="mt-4 text-center">Conecte-se a sua conta Bratil </h5>
          <form method="post">
            <label class="card-title mt-4" for="email">E-mail: </label>
            <input required id="email" type="email" name="email" placeholder="digite seu email aqui!" class="form-control">
            <label class="card-title mt-4" for="senha">Senha: </label>
            <div class="senha">
               <input id="senha" type="password" name="senha" placeholder="digite sua senha aqui!" class="form-control" required>
               <div id="senhaOlho" onclick="ver()"></div>
            </div>
            <input type="hidden" name="ip" id="ip">
            <br />
            <br />
            <button class="BratilButton" type="submit">Fazer login</button>
          </form>
  </div>
  <script>
    var inputIp = document.getElementById('ip');
    var inputSenha = document.getElementById('senha');
    var olho = document.getElementById('senhaOlho');
    
    function ver() {
      if (olho.innerHTML.match('slash')) {
        inputSenha.type = 'password'
      } else {
        inputSenha.type = 'text'
      }
    }
    
    setInterval(() => {
      if (inputSenha.type == 'password') {
            olho.innerHTML = '<i  class="far eye fa-eye"></i>'
          } else {
            olho.innerHTML = '<i class="far eye fa-eye-slash"></i>'
          }
    }, 0)
    
    
    $.ajax({
      url: "http://ip-api.com/json/?fields=query",
      dataType: 'json',
      success: (data) => {
        inputIp.value = data.query
      }
    })
  </script>
</body>