
  <style>
@font-face {
    font-family: 'main-font';
    src: url('/css/fonts/Poppins-Light.ttf');
  }
  * {
    margin: 0px;
    padding: 0px;
  }
    body {
      background: rgb(32,33,37);
      color: white;
      font-size: 15px;
      text-align: center;
      font-family: 'main-font';
    }
  </style>
  <title>Bratil - termos de uso</title>
</head>
<body>
  <div class="container">
    <h1 style="margin-bottom:100px;margin-top:70px;" class="text-center">termos de uso da <span style="color:rgb(0, 140, 255);">Bratil</span></h1>
    
    <div class="mt-4" style="text-align:left;">
      	os termos irão aqui!!!<br>
      		Lorem ipsum nec ultricies mauris quam turpis, aliquam interdum habitant nibh et, bibendum ligula duis tellus praesent. interdum quisque faucibus scelerisque dolor nibh amet ullamcorper, molestie vulputate porttitor conubia faucibus amet, elit eleifend ut faucibus nunc orci. consectetur ad litora luctus arcu eu per, vivamus porta massa iaculis ut euismod purus, amet luctus lacus tempor metus. nibh fermentum tristique tempus fames ornare in quis eget donec, sit enim id dolor nisl iaculis imperdiet dui facilisis, aliquam vulputate id cursus auctor scelerisque fermentum taciti. adipiscing sed cursus convallis ante pretium sagittis integer neque cras, sociosqu gravida urna odio diam ante habitasse dapibus diam urna, erat litora class consectetur non sit leo hac. 

	Facilisis primis vivamus egestas tempor ultrices enim consectetur eu massa taciti, ad duis mi elit proin primis nec turpis pretium. nam phasellus mi dictumst porta netus aliquam hac ipsum, eu nulla erat suscipit duis sodales quisque, facilisis augue lorem risus egestas dolor vitae. ante gravida risus donec ac tortor facilisis nisi massa, donec eros faucibus vehicula mi ornare congue lacinia ultrices, enim massa mattis himenaeos placerat venenatis id. placerat magna hendrerit auctor primis eu velit sem neque magna, neque enim pulvinar dui convallis mattis placerat praesent mollis dictum, etiam sodales consequat potenti varius ultrices duis donec. 

	Auctor vestibulum leo hendrerit fames etiam habitasse orci eu ornare purus, imperdiet viverra amet proin pretium sapien massa sociosqu dolor mollis, curabitur ut tincidunt aliquet phasellus ut consectetur nostra vehicula. ornare proin varius taciti iaculis pharetra malesuada vulputate conubia, orci non lorem cras pellentesque dui inceptos aenean, aliquam cubilia massa mollis in posuere id. cursus blandit a eget ligula congue nunc, elementum torquent posuere luctus tellus urna vestibulum, metus dictumst curabitur nunc dictum. sem erat pharetra lacinia quam venenatis ad convallis habitant, quis himenaeos donec sodales euismod est felis, egestas torquent arcu felis eleifend lacinia hac. 

	Sapien felis egestas aenean himenaeos dui laoreet vel risus, ad nam viverra iaculis viverra eget suscipit, dui et mattis aenean felis vivamus aliquam. et elit nam laoreet nec adipiscing torquent semper nostra accumsan dictumst, urna felis ut ullamcorper sed ut at ante. convallis duis eros potenti nisl viverra sapien tortor, et ut suscipit magna nostra lacus, cubilia curabitur turpis quam diam mattis. etiam tristique ante accumsan habitasse a ante, proin consectetur velit aliquet nullam per sit, litora justo ante at ad. curabitur magna dictum urna odio et porta, integer egestas imperdiet cursus massa hac nisi, volutpat a ultrices adipiscing pellentesque. 

	Vehicula placerat arcu quisque tempus mi sagittis donec pretium sit sagittis, facilisis molestie id vehicula maecenas aliquam at conubia integer, litora ullamcorper turpis velit suscipit odio primis venenatis aliquam. libero enim pulvinar lobortis consectetur eget blandit phasellus, per eleifend ad senectus imperdiet ad aenean massa, semper tincidunt aptent netus nunc porta. litora eleifend ornare tortor ac fames suscipit, lacus leo augue nulla erat sagittis donec, aliquet interdum maecenas bibendum non. adipiscing vivamus senectus non iaculis bibendum hac ante suscipit arcu, libero porta pulvinar phasellus lectus netus cubilia nec ut, dapibus mollis bibendum aptent lacinia sollicitudin quis accumsan. 
    </div>
    
    <form style="margin-top: 100px;"  action="/user/create" method="post">
  		<button type="submit" class="mb-4 BratilButton">Concordo continuar</button>
		</form>
		
  </div>

<div style="margin-top:100px;">
  {{>_footer}}
</div>

</body>