
  <title>Bait Search - seje mais inteligente com pesquisas!</title>
  <link rel="stylesheet" href="/css/search-style.css" type="text/css" media="all" />
</head>

<body>
  <header id="header">
    <div id="container-background-serach">
      <img src="/img/background.svg" alt="" id="background-serach">
      <div id="background-pelicula"></div>
    </div>
    <div id="title">
      <label for="text-search">
        <h1>Bait&nbsp;search</h1>
        <p>Aprenda&nbsp;mais&nbsp;fazendo&nbsp;pesquisas&nbsp;no&nbsp;Bait</p>
      </label>
    </div>
  </header>
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  {{>search/form}}
  <div></div>
  <section id="section">
    <div class="container">
      <label for="text-search">
        <h2 style="margin-top:30px;">Descubra o mundo!</h2>
      </label>
    </div>
    <div class="container-search-illustration">
      <img class="search-illustration" src="/img/search-illustration.svg" alt="ilustração de pesquisa">
    </div>
    
    <h3 style="font-size:18pt;" class="mt-4 mb-4 ml-4">Experimente pesquisar por: </h3>
    
      <div style="margin-top:50px;" class="container">
        
        <div class="card mt-4">
          <div class="card-body" style="background:rgb(32,33,37);">
              Aqui vai os termos de pesquisas!!
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body" style="background:rgb(32,33,37);">
              Aqui vai os termos de pesquisas!!
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body" style="background:rgb(32,33,37);">
              Aqui vai os termos de pesquisas!!
          </div>
        </div>
        
      </div>

    <div style="margin-top:100px;">{{>_footer}}</div>
  </section>
  <script src="/js/search.js"></script>
</body>