
  <title>Bait Search - seje mais inteligente com pesquisas!</title>
  <link rel="stylesheet" href="/css/search-style.css" type="text/css" media="all" />
</head>

<body>
  <header id="header">
    <div id="container-background-serach">
      <img src="/img/background-search-1500.png" alt="" id="background-serach">
      <div id="background-pelicula"></div>
    </div>
    <div id="title">
      <label for="text-search">
        <h1>Bait&nbsp;search</h1>
        <p>Aprenda&nbsp;mais&nbsp;fazendo&nbsp;pesquisas&nbsp;no&nbsp;Bait</p>
      </label>
    </div>
  </header>
  <div id="container-search">
   <form action="/serach" method="post">
      <input type="text" id="text-search" placeholder="faça sua pesquisa!" required />
      <button id="button_sub" type="submit"><li class="fas fa-search" ></li></button>
   </form>
  </div>
  <section id="section">
    <h4 class="mt-4 mb-4 ml-4">Experimente pesquisar por: </h4>
    
      <div style="margin-top:50px;" class="container">
        
        <div class="card mt-4">
          <div class="card-body" style="background:rgb(32,33,37);">
              Aqui vai os termos de pesquisas!!
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body" style="background:rgb(32,33,37);">
              Aqui vai os termos de pesquisas!!
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body" style="background:rgb(32,33,37);">
              Aqui vai os termos de pesquisas!!
          </div>
        </div>
        
      </div>


      {{>_footer}}
  </section>
  <script src="/js/search.js"></script>
</body>