  <title>Bratil Search - Aprenda mais fazendo pesquisas!</title>

  <link rel="stylesheet" href="/css/search-style.css" type="text/css" media="all" />
</head>

<body>
	{{>user/_profile}}
	{{>_alert}}
	{{#if error_msg}}
<script>
	BratilAlert({
		title: 'erro:',
		body: `{{error_msg}}`,
		button: 'OK, não tem problema!'
	})
</script>
{{/if}}
<div id="autocomplete">
	<hr>
	<ul id="AutocompleteText"></ul>
</div>
  <header id="header">
    <div id="container-background-serach">
      <img src="/img/background.svg" alt="" id="background-serach">
      <div id="background-pelicula"></div>
    </div>
    <div id="title">
      <label for="text-search">
        <h1>Bratil&nbsp;search</h1>
        <p>Aprenda&nbsp;mais&nbsp;fazendo&nbsp;pesquisas&nbsp;no&nbsp;Bratil</p>
      </label>
    </div>
  </header>
  <div id="ContainerFormSearch" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  {{>search/form}}
  </div>
  <section id="section">
    <!--<div class="container">
      <label for="text-search">
        <h2 style="margin-top:30px;">Descubra o mundo:</h2>
      </label>
      
    </div>
    <div class="container-search-illustration">
      <img class="search-illustration" src="/img/search-illustration.svg" alt="ilustração de pesquisa">
    </div>-->
    
    <div class="SafeText container" style="margin-bottom:100px;">
    	<h2 class="text-center" style="margin-top:30px;">Segurança:</h2>
    	<br />
    	<p class="text-center">Ferramentas de buscas como o Google, Bing, Yahoo, etc... São incríveis não? Mais tem um porém, estas ferramentas buscam os resultados em sites... E todos concordamos que não são todos os sites que são seguros. Por isso nós dá Bratil criamos a Bratil Search uma ferramenta de busca no qual todas as buscas são feitas em artigos em que alguém que entenda daquele assunto escreveu, por exemplo se você quiser tomar um chá e pesquisar aqui por "chás saudáveis" todos os resultados serão resultados escritos por um médico naturalista que entenda do assunto.</p>
    </div>
    
    <h2 style="font-size:20pt;" class="text-center">Experimente pesquisar por: </h2>
   
      <div style="margin-top:50px;" class="container">
        
        <div class="card mt-4">
          <div class="card-body" style="background:rgb(32,33,37);">
	          	<h4>Título da pesquisa!</h4>
	          	<hr>
              <p class="termSearch">
              	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum imperdiet volutpat. Duis hendrerit tincidunt nunc, eget elementum odio. Fusce elementum varius tortor in porttitor. Nullam vulputate a dui vel maximus. Etiam viverra sapien nulla, quis tincidunt ipsum ornare ac. Nunc porta ultricies libero at porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit tristique posuere. Nunc tincidunt, leo in aliquam blandit, nibh orci lacinia ex, ac scelerisque justo. </p>
          		 	<a href="/search/response/page?question=Título da pesquisa!"><button class="BratilButton mt-4">Pesquisar</button></a>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body" style="background:rgb(32,33,37);">
          	<h4>Título da pesquisa!</h4>
          	<hr>
          	<p class="termSearch">
          		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum imperdiet volutpat. Duis hendrerit tincidunt nunc, eget elementum odio. Fusce elementum varius tortor in porttitor. Nullam vulputate a dui vel maximus. Etiam viverra sapien nulla, quis tincidunt ipsum ornare ac. Nunc porta ultricies libero at porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit tristique posuere. Nunc tincidunt, leo in aliquam blandit, nibh orci lacinia ex, ac scelerisque justo. </p>
          		 	<a href="/search/response/page?question=Título da pesquisa!"><button class="BratilButton mt-4">Pesquisar</button></a>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body" style="background:rgb(32,33,37);">
          	<h4>Título da pesquisa!</h4>
          	<hr>
            <p class="termSearch">
            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum imperdiet volutpat. Duis hendrerit tincidunt nunc, eget elementum odio. Fusce elementum varius tortor in porttitor. Nullam vulputate a dui vel maximus. Etiam viverra sapien nulla, quis tincidunt ipsum ornare ac. Nunc porta ultricies libero at porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit tristique posuere. Nunc tincidunt, leo in aliquam blandit, nibh orci lacinia ex, ac scelerisque justo. </p>
          		 	<a href="/search/response/page?question=Título da pesquisa!"><button class="BratilButton mt-4">Pesquisar</button></a>
          </div>
        </div>
        <div class="card mt-4">
        	<div class="card-body" style="background:rgb(32,33,37);">
        		<h4>Título da pesquisa!</h4>
        		<hr>
	          <p class="termSearch">
	          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum imperdiet volutpat. Duis hendrerit tincidunt nunc, eget elementum odio. Fusce elementum varius tortor in porttitor. Nullam vulputate a dui vel maximus. Etiam viverra sapien nulla, quis tincidunt ipsum ornare ac. Nunc porta ultricies libero at porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit tristique posuere. Nunc tincidunt, leo in aliquam blandit, nibh orci lacinia ex, ac scelerisque justo. </p>
          		<a href="/search/response/page?question=Título da pesquisa!"><button class="BratilButton mt-4">Pesquisar</button></a>
        	</div>
        </div>
        
      </div>

    <div style="margin-top:100px;">{{>_footer}}</div>
  </section>

  <script src="/js/search.js"></script>
</body>