
  <style>
@font-face {
    font-family: 'main-font';
    src: url('/css/fonts/Poppins-Light.ttf');
  }
    body {
      background: white;
      color: black;
      font-size: 15px;
      text-align: center;
      font-family: 'main-font';
    }
    .m {
      margin-top: 0px;
      margin-bottom: 100px;
    }
    .no-rota-logo {
      width: 50vw;
      margin-bottom: 20px;
    }
    
    @media screen and (max-device-width: 900px) {
      .no-rota-logo {
        width: 100vw;
        height: 30vh;
        object-fit: cover;
        margin-bottom: 180px;
      }
    }
  </style>
  <title>Bratil - 404 página não encontrada!</title>
</head>
<body>
  <div class="m">
  <a href="/"><img class="no-rota-logo" src="/img/404.svg" alt="logo no-rota"></a><br>
    Lamento informar que esta página não foi encontrada! Você acessou uma página inexistente no site "<a href="/">Bratil Company</a>".
    </div>
    <div style="margin-top:33vh;color:white;">{{>_footer}}</div>
</body>