@font-face {
  font-family: 'main-font';
  src: url('/assets/style/fonts/Poppins-Light.ttf');
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'main-font';
  color: white;
  background: rgb(32, 33, 37);
}

header {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.6s;
}

#background-serach {
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: 1;
}

#title {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -3%);
  z-index: 3;
}

#title h1 {
  text-align: center;
  font-size: 2.5em;
}

#title p {
  text-align: center;
  font-size: 0.9em;
}

#background-pelicula {
  position: absolute;
  top: 0px;
  background: #00000088;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

#container-search {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 80vw;
  height: 3.5em;
  background: black;
  border-radius: 5em;
  transition: all 0.6s;
}

#text-search {
  color: white;
  position: absolute;
  top: 50%;
  left: 6%;
  height: 90%;
  width: 80%;
  transform: translateY(-50%);
  border: 0px;
  background: black;
  font-size: 1em;
}

.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  font-size: 1.8em;
}

#text-search:focus {
  outline: none;
}