@font-face {
  font-family: 'main-font';
  src: url('/assets/style/fonts/Poppins-Light.ttf');
}

* {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-height: 1000px) {
  body {
    font-family: 'main-font';
    width: 100%;
    height: 100%;
    background: #202125;
    font-size: 15px;
    color: white;
  }

  .creditos {
    position: fixed;
    z-index: 10;
    top: -20px;
    left: 2px;
    width: 100px;
    display: none;
  }

  .ClientHistoric {
    text-align: left;
    display: none;
  }

  .logo {
    width: 150px;
  }

  footer {
    position: relative;
  }

  .microphone {
    border-radius: 80px;
    background: #202125;
    box-shadow: 2px 2px 6px black;
    position: fixed;
    width: 300px;
    height: 55px;
    left: 50%;
    transform: translateX(-50%);
    top: 82%;
  }

  #microphone-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
  }

  .BaitMessage {
    box-shadow: 2px 2px 6px black;
    background: #202125;
    position: absolute;
    margin-bottom: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 100px;
    width: 80%;
  }

  .BaitMedia {
    width: 100%;
  }

  .media {
    width: 40%;
  }
}

@media screen and (min-height: 1000px) {
  body {
    font-family: 'main-font';
    width: 100%;
    height: 100%;
    background: #202125;
    font-size: 30px;
    color: white;
  }

  .creditos {
    position: fixed;
    top: -20px;
    left: 2px;
    width: 200px;
    display: none;
  }

  .ClientHistoric {
    text-align: left;
    display: none;
  }

  .logo {
    width: 350px;
  }

  footer {
    position: relative;
  }

  .microphone {
    border-radius: 80px;
    background: #202125;
    box-shadow: 2px 2px 6px black;
    position: fixed;
    width: 550px;
    height: 130px;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
  }

  #microphone-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
  }

  .BaitMessage {
    box-shadow: 2px 2px 6px black;
    background: #202125;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 48px;
    border-radius: 200px;
    width: 90%;
  }

  .BaitMedia {
    width: 100%;
  }

  .media {
    width: 100%;
  }
}