<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-180021712-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-180021712-1');
  </script>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="icon" href="assets/img/icon.png" type="image/png" />
  <link rel="stylesheet" href="assets/style/style.css" />
  <title>BAIT - inteligência artificial brasileira</title>
</head>
<body>
  <div class="credito-box">

  </div>

  <section>

    <audio src="assets/media/alert.mp3" class="alert"></audio>

    <div class="BaitMessage">
      <div class="media">
        <img src="assets/img/logo.png" alt="" class="logo" />
      </div>
      <div class="text">
        carregando...
      </div>
      <div class="ClientHistoric">
      </div>
    </div>
  </section>

  <footer>
    <img src="assets/img/microphone.png" alt="falar" class="microphone">
  </footer>


  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>